doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title 
            = htmlWebpackPlugin.options.title
    body 
        header 
            .logo /** Todos **/
            div.mobile-btn Projects
            nav
              h2#current-project-title
              section.project-list-container
                  ul#project-list
                  button#project-list-add Add project
        main 
            section#todos-list-container
                ul#todos-list
                button#add-todo Add todo + 
            section#form-section
        footer 
            h3 Log from publish/subscribe module:
            pre(id="log" style="border: 1px solid #ccc;") 