doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title 
            = htmlWebpackPlugin.options.title
    body 
        header 
            .logo /** Todos **/
            h2 Projects
            section.project-list-container
                ul#project-list
                    li.project-list-item Inbox
                    li.project-list-item Education
                    li.project-list-item Programming
                    li.project-list-item Shopping
            button Add Project
        main 
            h2 This area display the todos and jump to their contents
            section.todos-list-container
                ul#todos-list
                    li.todos-list-item Todo #1
                        h3 Sample title for this totodos 
                        h4 sample description for this todso that shows...
                        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea perspiciatis veritatis laborum dolore rem nihil illum minima ut, a incidunt natus sapiente beatae doloribus, necessitatibus optio porro, illo sunt! Eligendi!
                        p Due Date 12/12/24
                        p Normal
                        p Tags: Something something something
                        p Status: Unfinished
                    li.todos-list-item Todos #2
                        h3 Sample title for this totodos 
                        h4 sample description for this todso that shows...
                        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea perspiciatis veritatis laborum dolore rem nihil illum minima ut, a incidunt natus sapiente beatae doloribus, necessitatibus optio porro, illo sunt! Eligendi!
                        p Due Date 12/12/24
                        p Normal
                        p Tags: Something something something
                        p Status: Unfinished
                    li.todos-list-item Todos #3
                        h3 Sample title for this totodos 
                        h4 sample description for this todso that shows...
                        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea perspiciatis veritatis laborum dolore rem nihil illum minima ut, a incidunt natus sapiente beatae doloribus, necessitatibus optio porro, illo sunt! Eligendi!
                        p Due Date 12/12/24
                        p Normal
                        p Tags: Something something something
                        p Status: Unfinished
                    li.todos-list-item Todos #4
                        h3 Sample title for this totodos 
                        h4 sample description for this todso that shows...
                        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea perspiciatis veritatis laborum dolore rem nihil illum minima ut, a incidunt natus sapiente beatae doloribus, necessitatibus optio porro, illo sunt! Eligendi!
                        p Due Date 12/12/24
                        p Normal
                        p Tags: Something something something
                        p Status: Unfinished
            button Add Project

        //title, description, content, dueDate: format(dueDate,  dueDateformat), priority, tags, noteStatus: 'unfinished'
        footer This is a footer
            h3 htmlLogger
            pre(id="log" style="border: 1px solid #ccc;") 