doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title 
            = htmlWebpackPlugin.options.title
    body 
        header 
            .logo /** Todos **/
            nav
              h2#current-project-title
              section.project-list-container
                  ul#project-list
                  button#project-list-add Add project
        main 
            section#todos-list-container
                ul#todos-list
                button#add-note Add note + 
            section
                form(action="" method="post" id="create-note-form")
                    h2 Note creation
                    fieldset 
                        legend Note info
                        p
                            label(for="title") Title:
                            input(type="text" id="title" name="note_title" required)
                            span
                        p
                            label(for="description") Description:
                            input(type="text" id="description" name="note_description" required)
                            span
                        p
                            label(for="content") Content:
                            textarea(rows="10" cols="50" id="content" maxlength="1000" required)
                        p
                            label(for="due-date") Due date:
                            input(type="date" id="due-date" name="note_dueDate" required)
                        p 
                            label(for="priority") Priority:
                            select(id="priority")
                                option(value="normal") Normal 
                                option(value="moderate") Moderate
                                option(value="urgent") Urgent
                        p 
                            label(for="tags") Tags:
                            p These are space separated, and have syntax of indentifier:topic, example: rockband:guitar, programming:haskell, study:math:
                            input(type="text" id="tags" name="note_tags")
                        p 
                            p Status:
                            <label for="finished">Finished</label>
                            <input type="radio" id="finished" value="finished" name="note_status">
                            <label for="unfinised">Unfinished</label>
                            <input type="radio" id="unfinished" value="unfinished" name="note_status" checked>

                        button(type="button" id="create-note-btn") 

        //title, description, content, dueDate: format(dueDate,  dueDateformat), priority, tags, noteStatus: 'unfinished'
        footer 
            h3 Log from publish/subscribe module:
            pre(id="log" style="border: 1px solid #ccc;") 