doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title 
            = htmlWebpackPlugin.options.title
    body 
        h2 List of todos
        button Add note
        section.note-list-container
            ul#note-list
                li.note-list-item Item 1
                li.note-list-item Item 2
                li.note-list-item Item 3
                li.note-list-item Item 4