doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title 
            = htmlWebpackPlugin.options.title
    body 
        header 
            .logo /** Todos **/
            h2#current-project-title
            section.project-list-container
                ul#project-list
            button Add project
        main 
            h2 This area display the todos and jump to their contents
            section#todos-list-container
                ul#todos-list
                button#add-note Add note 

        //title, description, content, dueDate: format(dueDate,  dueDateformat), priority, tags, noteStatus: 'unfinished'
        footer This is a footer
            h3 htmlLogger
            pre(id="log" style="border: 1px solid #ccc;") 