doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title 
            = htmlWebpackPlugin.options.title
    body 
        header 
            div.mobile-btn
            .logo /** Todos **/
            nav
              h2#current-project-title
              section.project-list-container
                  ul#project-list
                  button#project-list-add Add project
        main 
            section#todos-list-container
                ul#todos-list
                button#add-todo Add todo + 
            section#form-section
                //form(action="" method="post" id="create-todo-form")
                //    h2 todo creation
                //    fieldset 
                //        legend todo info
                //        p
                //            label(for="title") Title:
                //            input(type="text" id="title" name="todo_title" required)
                //            span
                //        p
                //            label(for="description") Description:
                //            input(type="text" id="description" name="todo_description" required)
                //            span
                //        p
                //            label(for="content") Content:
                //            textarea(rows="5" id="content" maxlength="1000" required)
                //        p
                //            label(for="due-date") Due date:
                //            input(type="date" id="due-date" name="todo_dueDate" required)
                //        p 
                //            label(for="priority") Priority:
                //            select(id="priority")
                //                option(value="normal") Normal 
                //                option(value="moderate") Moderate
                //                option(value="urgent") Urgent
                //        p 
                //            label(for="tags") Tags 
                //            p These are space separated, and have syntax of indentifier:topic, example: rockband:guitar, programming:haskell, study:math:
                //            input(type="text" id="tags" name="todo_tags")
                //        p 
                //            p Status:
                //            label(for="finished") Finished
                //            input(type="radio" id="finished" value="finished" name="todo_status")
                //            label(for="unfinised") Unfinished
                //            input(type="radio" id="unfinished" value="unfinished" name="todo_status" checked)
                //        p
                //            button(type="button" id="create-todo-btn") 

        //title, description, content, dueDate: format(dueDate,  dueDateformat), priority, tags, todoStatus: 'unfinished'
        footer 
            h3 Log from publish/subscribe module:
            pre(id="log" style="border: 1px solid #ccc;") 