@media (min-width: 1200px) {
    body {
        @include grid($column: min(420px, 30%) 1fr, $row: minmax(100vh, 1fr) auto);
        @include defineGridArea(
            (
                'header': header,
                'main': main,
                'footer': footer
            )
        );
        grid-template-areas: 
            'header main'
            'footer footer'
        ;
    }

    header {
        gap: 30px;
        //hambuger button css only
        .mobile-btn {
            display: none;
        }

        nav {
            position: static;
            @include flex($direction: column, $align: center, $justify: flex-start);
            transform: translateX(0);
            z-index: 0;
        }
    }
}