@use "sass:list";
@import 'base';

body {
    @extend %reset-margin-padding;
    font-size: $font-size;
}

%header-footer-settings {
    background-color: black;
    color: white;
}

header {
    @extend %header-footer-settings;

    .logo {
        span {
            border: 1px solid white;
        }
    }
}

main {

}

footer {
    @extend %header-footer-settings;
}

#log {
    white-space: pre-wrap;
    height: 500px;
    max-width: 700px;
    overflow: scroll;
}