@use "sass:list";
@import 'base';

body {
    @extend %reset-margin-padding;
    font-size: $font-size;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

    @include flex($direction: column);
}

header {
    flex: 0;
}

main {
    flex: 1;
}

footer {
    flex: 0;
}

%header-footer-settings {
    background-color: black;
    color: white;
}

$content-padding: 20px;

header {
    @extend %header-footer-settings;
    @include flex($direction: row, $align: center);

    .logo {
        flex: 1;
        font-family: 'press-start-2p';
        padding: $content-padding;
        text-align: center;
    }

    //hambuger button css only
    .mobile-btn {
        height: 30px;
        width: 30px;
        z-index: 3;
        cursor: pointer;
        border: 1px solid #000;
        background-color: #fff;
    }

    nav.active {
        transform: translateX(0);
    }

    nav {
        position: fixed;
        @include flex($direction: column, $align: center, $justify: center);
        width: 100%;
        height: 100%;
        inset: 0;
        transform: translateX(-100%);
        color: black;
        background-color: white;
        border: 1px solid #000;
        z-index: 2;
    }
}
    .fixed {
        position: fixed;
        z-index: 1;
    }



main {
    padding: $content-padding;

    #todos-list-container {
        @include flex($direction: column, $align: center);
        gap: 10px
    }

    #todos-list{
        @include flex($direction: column, $align: center);
        gap: 10px;
    }


    .todos-list-item {
        padding: 10px;
        border: 1px solid #000;

        &-ops-list {
            @include flex($direction: column, $align: center);
            gap: 7px;
        }
    }

    button {
        background-color: transparent;
        width: 100%;
        padding: 10px;
        border: 1px solid black;
    }

    .todos-list-item:hover, button:hover {
        box-shadow: 1px 1px black;
    }

    //Form
    #create-todo-form {
        p {
            @include flex($direction: column);
        }
    }
}

footer {
    @extend %header-footer-settings;
    padding: $content-padding;
}

#log {
    font-family: Arial, Helvetica, sans-serif;
    white-space: pre-wrap;
    max-height: 400px;
    max-width: 700px;
    overflow: scroll;
}